<!-- <section class="skills-section py-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-8 mx-auto">
        <h5 class="specialty-title text-uppercase">MY SPECIALTY</h5>
        <h2 class="specialty-Heading text-uppercase mb-5">{{ mainHeading }}</h2>
        <p class="text-muted mb-4">
          The Big Oxmox advised her not to do so, because there were thousands
          of bad Commas, wild Question Marks and devious Semikolons, but the
          Little Blind Text didn't listen. She packed her seven versalia, put
          her initial into the belt and made herself on the way.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="row g-4">
          <div class="col-md-6" *ngFor="let skill of skills">
            <div class="skill-item mb-4">
              <div class="mb-2">
                <span class="skill-name">{{ skill.name }}</span>
              </div>

              <div class="progress-wrapper">
                <div class="progress" style="height: 8px">
                  <div
                    class="progress-bar"
                    [class]="skill.color"
                    [style.width.%]="skill.percentage"
                  ></div>
                </div>

                <span class="skill-percentage">{{ skill.percentage }}%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->




<section class="skills-section py-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-8 mx-auto">
        <h5 class="specialty-title text-uppercase">MY SPECIALTY</h5>
        <h2 class="specialty-Heading text-uppercase mb-5">{{ mainHeading }}</h2>
        <p class="text-muted mb-4">
          The Big Oxmox advised her not to do so, because there were thousands
          of bad Commas, wild Question Marks and devious Semikolons, but the
          Little Blind Text didn't listen. She packed her seven versalia, put
          her initial into the belt and made herself on the way.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="row g-4">
          <div class="col-md-6" *ngFor="let skill of skills">
            <div class="skill-item mb-4">
              <div class="mb-3">
                <span class="skill-name">{{ skill.name }}</span>
              </div>

              <div class="progress-container">

                <span class="skill-percentage" [style.left.%]="skill.percentage">{{ skill.percentage }}%</span>

                <div class="progress" style="height: 8px">
                  <div
                    class="progress-bar"
                    [class]="skill.color"
                    [style.width.%]="skill.percentage"
                  >
                    <span class="progress-circle"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
