<section id="home" class="home-section">
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-6 d-flex align-items-center justify-content-end text-section">
        <div class="text-content">
          <h1 class="display-2 fw-bold mb-0">{{ mainHeading }}</h1>
          <h2 class="display-4  fw-light mb-4">{{ subHeading }}</h2>
          <p class="text-muted mb-1">{{ description }}</p>
          <button class="btn btn-outline-dark btn-lg px-4">
            VIEW PORTFOLIO <i class="fas fa-briefcase ms-2"></i>
          </button>
        </div>
      </div>
      <div class="col-lg-6 p-0 image-section" [style.background-image]="'url(' + backgroundImage + ')'">
      </div>

    </div>
  </div>
</section>
